body {
    background-color: rgb(226, 223, 223);
}

#main-navigation {
    background-color: #b2ce65;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.25);
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
    color: #ff313194
}

#main-navigation nav a:hover,
#main-navigation nav a:active {
    color: #ff313194
}

#all-posts {
    margin: 7rem auto;
    width: 90%;
    max-width: 60rem;

}

ul {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 2rem;
    list-style-type: none;
}

.post a {
    height: 60vh;
    width: 25vw;
    background-color: white;
    padding: 2rem;
    border-radius: 24px;
    background: #e0e0e0;
    box-shadow:  35px 35px 70px #bebebe,
                 -35px -35px 70px #ffffff;
    margin: 2rem 2rem;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.post a:hover,
.post a:active {
    background-color: #d4ad52;
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

#all-posts h2 {
    text-align: center;
    font-size: 2rem;
    color: #9c1515;
}


.post {
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 1.5rem;
}

